<nav class="navbar navbar-expand-md p-4 border-bottom" id="mainNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">PvPocket</a>

        <div class="d-flex align-items-center">
            
            <div class="nav-item dropdown d-md-none me-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdownMobile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdownMobile">
                    {% if session.get('user_id') is not none %}
                    <li><h6 class="dropdown-header">{{ session.get('username', '') }}</h6></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.user_profile_and_settings') }}">Profile/Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id="user-logout-link-mobile" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{{ url_for('auth.login_prompt_page', next=request.full_path) }}">Log In / Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse text-end text-md-start pt-3 pt-md-0" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('decks.list_decks') }}">Deck Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('collection_bp.view_collection') }}">My Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('battle.battle') }}">Battle Simulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('meta.meta_rankings') }}">Meta Rankings</a>
                </li>
            </ul>
            
            <ul class="navbar-nav d-none d-md-block me-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if session.get('user_id') is not none %}
                        <li><h6 class="dropdown-header">{{ session.get('username', '') }}</h6></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.user_profile_and_settings') }}">Profile/Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" id="user-logout-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.login_prompt_page', next=request.full_path) }}">Log In / Sign Up</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>